<h1>Articles</h1>

{{#each articles}}
<div>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.url}}</p>
</div>
{{/each}}

 




{{!-- {{#each articles}}
<div>
    <h2>{{this.title}}</h2>
    <p>{{this.url}}</p>
    <p>{{this.description}}</p>
</div>
{{/each}}

<div>
    <p>
        {{error}}
    </p>
</div> --}}